<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section id="content" class="animated fadeIn pt35 pb45"
		th:fragment="sales-stats-products">

		<div th:replace="sidebar::leftcontent"></div>
		<div class="content-right table-layout">

			<div class="chute chute-center">

				<!-- New Product -->
				

				<!-- Recent Orders -->
				<div class="panel mbn">
				<a th:href="@{/admin/showChart/export/pdf}">Export Top Ten Products PDF</a>
					<div class="panel-menu p12 allcp-form theme-primary mtn">
					
						<span class="panel-title ptn">Product List</span>
					</div>
					<div>
						<a th:href="create"
						   class="btn btn-rounded btn-primary">Add New Product</a>
					</div>
					<div class="panel-body pn">
						<div class="table-responsive">
							<table id="myTable"
								class="table allcp-form theme-warning tc-checkbox-1 table-style-2 btn-gradient-grey fs13">
								<thead>
									<tr class="">
										<th class="">Image</th>
						            	<th class="">No.</th>
										<th class="">ProductName</th>
										<th class="">description</th>
										<th class="">category</th>
										<th class="">Size S</th>
										<th class="">Size M</th>
										<th class="">Size L</th>
										<th class="">Action</th>
									</tr>
								</thead>
								<tbody>
									
									<tr th:each="tempProduct,stat : ${products}">
										<td class=""><img class="img-responsive mw40 ib"
														  alt="" title="user"
														  th:src="@{${'/files/'+ tempProduct.getImage()}}"></td>
										<td class="" th:text="${stat.count}"></td>
										<td class="" th:text="${tempProduct.getProductName()}"></td>
										<td class="" th:text="${tempProduct.getDescription()}"></td>
										<td class="" th:text="${tempProduct.getCategory().getName()}"></td>
										<th:block th:each="tempSize: ${size}">
											<td class="" th:text="${tempProduct.getPrice(tempSize.id)}?:'0'"></td>
										</th:block>
										<td class="">
											<button type="button"
													class="btn btn-info br2 btn-xs fs10 fw700 dropdown-toggle"
													data-toggle="dropdown" aria-expanded="false">Action <span class="caret ml5"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a th:href="@{/admin/recipe/view/{id}(id=${tempProduct.getId()})}">View Recipe</a></li>
												<li><a th:href="@{/admin/product/editProduct/{id}(id=${tempProduct.getId()})}">Edit</a></li>
												<li><a th:href="@{/admin/product/DetailProduct/{id}(id=${tempProduct.getId()})}">Detail</a></li>
												<li><a th:href="@{/admin/product/deleteProduct/{id}(id=${tempProduct.getId()})} "onclick="return confirm('Are you sure?')">Delete</a></li>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
			<!-- /Column Center -->
		</div>
	</section>
	<!-- /Content Sale Stat Client -->
	<section id="content" class="animated fadeIn pt35 pb45"
		th:fragment="sales-stats-chart">
		<div th:replace="sidebar::leftcontent"></div>

		<div class="content-right table-layout">
			<div class="chute chute-center">
				<!-- Quick Links -->
				<div class="row">
					<div class="col-sm-6 col-md-4 col-xl-4">
						<div class="panel panel-tile info-block">
							<div class="panel-body">
								<div class="info-block-top">
									<i class="icon-tool text-dark"></i>
									<div class="text-info">
										<span>Total list Product</span>
									</div>
								</div>
								<div class="info-block-middle text-center">
									<h2 th:text="${products}"></h2>

								</div>
								<div class="info-block-bottom text-center">
									<h6>Products</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-4">
						<div class="panel panel-tile info-block">
							<div class="panel-body">
								<div class="info-block-top">
									<i class="icon-social text-dark"></i>
									<div class="text-info">
										<span>Total Customer</span>
									</div>
								</div>
								<div class="info-block-middle text-center">
									<h2 th:text="${customers}">457</h2>

								</div>
								<div class="info-block-bottom text-center">
									<h6>Customers</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-xl-4">
						<div class="panel panel-tile info-block">
							<div class="panel-body">
								<div class="info-block-top">
									<i class="icon-check text-dark"></i>
									<div class="text-info">
										<span>Total Order</span>
									</div>
								</div>
								<div class="info-block-middle text-center">
									<h2 th:text="${orders}">5627</h2>

								</div>
								<div class="info-block-bottom text-center">
									<h6>Orders</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<h2 align="center">Dashboard Chart</h2>

				<div id="container"
					style="width: 550px; height: 400px; margin: 0 auto"></div>


				<div id="containerProduct"
					style="width: 550px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script th:inline="javascript">
    $(function(){
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Total Price in Month'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [[${surveyMap.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Price [in VND]'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} VND</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Month',
            data: [[${surveyMap.values()}]]
        }]
    });
    });
</script>
		<script th:inline="javascript">
    $(function(){
    Highcharts.chart('containerProduct', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top Ten Product in Sell'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [[${surveyMapProduct.keySet()}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Count'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Product',
            data: [[${surveyMapProduct.values()}]]
        }]
    });
    });
</script>
	</section>

	<!-- Content Sales Stat Product -->
	
	<section id="content" class="animated fadeIn pt35 pb45"
		th:fragment="sales-stats-clients">
		<div th:replace="sidebar::leftcontent"></div>

		<div class="content-right table-layout">

			<!-- /Column Left -->

			<!-- Column Center -->
			<div class="chute chute-center">

				<!-- Table -->
				<div class="panel mbn">
					<div class="panel-menu allcp-form theme-primary mtn">
			
						
						<div class="row">

							<form th:action=@{/admin/customer/export/pdf}>
							<select id="getMonth" name="getMonth">
								<option value="1">January</option>
								<option value="2">February</option>
								<option value="3">March</option>
								<option value="4">April</option>
								<option value="5">May</option>
								<option value="6">June</option>
								<option value="7">July</option>
								<option value="8">August</option>
								<option value="9">September</option>
								<option value="10">October</option>
								<option value="11">November</option>
								<option value="12">December</option>
							</select> <input class="btn btn-info" type="submit" id="exportPdf"
								value="Export to PDF" />
						</form>
								<h5 class="pln">List Customers</h5>
							</div>
					</div>
					<div class="panel-body pn">
						<div class="table-responsive">

							<table id="myTable"
								class="table allcp-form theme-warning tc-checkbox-1 btn-gradient-grey fs13">
								<thead>
									<tr class="">

										<th class="">Name</th>
										<th class="">Email</th>

										<th class="">Phone Number</th>
										<th class="">Adress</th>
										<th class="">Total Spent</th>
										<th class="">Membership</th>
										<th class="">Status</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="tempCustomer : ${customer}">

										<td class="" th:text="${tempCustomer.customer_name}"></td>
										<td class="" th:text="${tempCustomer.customerEmail}"></td>

										<td class="" th:text="${tempCustomer.customer_phone}"></td>
										<td class="" th:text="${tempCustomer.address}"></td>
										<td class="" th:text="${tempCustomer.total_expense} + ' VND'"></td>
										<td class=""><span
											th:text="${tempCustomer.membership.membership_name}"></span></td>

										<td class="">
											<div class="btn-group text-right">
												<button type="button"
													class="btn btn-info br2 btn-xs fs10 fw700 dropdown-toggle"
													data-toggle="dropdown" aria-expanded="false">
													Action <span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu">
													<li><a
														th:href="@{/admin/customer/editCustomer/{id}(id=${tempCustomer.customer_id})}"
														class="btn btn-primary btn-sm mb-3">Edit</a></li>
													
												</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
			<!-- /Column Center -->
		</div>
	</section>
	<!-- /Content Sale Stat Client -->

	<!-- Content Sale Stat Purchases -->
	<section id="content" class="animated fadeIn pt35 pb45"
		th:fragment="sales-stats-purchases">
		<div th:replace="sidebar::leftcontent" />
		<div class="content-right table-layout">


			<!-- /Column Left -->

			<!-- Column Center -->
			<div class="chute chute-center">

				<!-- Recent Orders -->

				<div class="">
					<div class="">
						<form th:action=@{/admin/order/export/pdf}>
							<select id="getMonth" name="getMonth">
								<option value="1">January</option>
								<option value="2">February</option>
								<option value="3">March</option>
								<option value="4">April</option>
								<option value="5">May</option>
								<option value="6">June</option>
								<option value="7">July</option>
								<option value="8">August</option>
								<option value="9">September</option>
								<option value="10">October</option>
								<option value="11">November</option>
								<option value="12">December</option>
							</select> <input class="btn btn-info" type="submit" id="exportPdf"
								value="Export to PDF" />
						</form>
						<table id="myTable"
							class="table allcp-form theme-warning tc-checkbox-1 btn-gradient-grey fs13">
							<h2 style="text-align: center;">View Order</h2>

							<thead>
								<tr class="">
									<th class="">Order ID</th>
									<th class="">Order Date</th>
									<th class="">Customer</th>
									<th class="">Shipping Address</th>
									<th class="">Delivery Time</th>
									<th class="">Total</th>
									<th class="">Payment</th>
									<th class="text-center">Order Status</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tempOrder : ${orders}">
									<td class=""><a
										th:href="@{/admin/order/viewDetail/{id}(id=${tempOrder.id})}">
											<span th:text="${tempOrder.id}"></span>
									</a></td>
									<td class="" th:text="${tempOrder.orderDate}"></td>
									<td class="" th:text="${tempOrder.customer.customer_name}"></td>
									<td class="" th:text="${tempOrder.shippingaddress}"></td>
									<td class="" th:text="${tempOrder.time}"></td>
									<td class="" th:text="${tempOrder.total} + ' VND'"></td>
									<td class="" th:text="${tempOrder.payment}"></td>
									<td class="">
										<div class="btn-group text-right">

											<div data-toggle="dropdown">
												<div th:switch="${tempOrder.status}">
													<div class="btn btn-alert br2 btn-xs fs10 dropdown-toggle"
														th:case="1">New</div>
													<div class="btn btn-info br2 btn-xs fs10 dropdown-toggle"
														th:case="2">Pending</div>
													<div
														class="btn btn-primary br2 btn-xs fs10 dropdown-toggle"
														th:case="3">Completed</div>
													<div class="btn btn-danger br2 btn-xs fs10 dropdown-toggle"
														th:case="4">Canceled</div>
												</div>
											</div>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		<!-- /Column Center -->
		</div>
	</section>
	
</body>
</html>
