<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <h2>Enter new password:</h2>
            <form action="#" th:action="@{/reset}" th:object="${customer}" method="post">
                <table>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input th:field="*{email}" type="text" name="emailId" readonly></input></td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input th:field="*{password}" type="password" name="password"></input></td>
                    </tr>
                    <tr>
                        <td><input type="reset" value="Clear"/></td>
                        <td><input type="submit" value="Submit"></input></td>
                    </tr>
                    <input type = "hidden" name = "token" th: value = $ {resetToken}>
                </table>
            </form>
</body>
</html>