<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
        <!-- Sidebar  -->
    <aside id="sidebar_left" class="" th:fragment="sidebar">

        <!-- Sidebar Left Wrapper  -->
        <div class="sidebar-left-content nano-content">

            <!-- Sidebar Menu  -->
            <ul class="nav sidebar-menu">

           
                <li class="">
                    <a class="accordion-toggle" href="#">
                        <span class="caret"></span>
                        <span class="sb-menu-icon fa fa-bar-chart-o"></span>
                        <span class="sidebar-title">Management</span>
                    </a>
                    <ul class="nav sub-nav">
                   
                        <li class="">
                            <a th:href="@{/admin/product/list}">
                                Products 
                            </a>
                        </li>
                        <li class="">
                            <a th:href="@{/admin/order/list}">
                                Order
                            </a>
                        </li>
                        <li class="">
                            <a th:href="@{/admin/customer/list}">
                                Clients 
                            </a>
                        </li>
                        <li class="">
                            <a th:href="@{/admin/review/list}">
                                Review 
                            </a>
                        </li>
      
                    </ul>
                </li>
              
                <li>
                    <a th:href="@{/users/list}">
                        <span class="caret"></span>
                        <span class="sb-menu-icon fa fa-user"></span>
                        <span class="sidebar-title">User Management</span>
                    </a>
                </li>
                
                 <li>
                    <a th:href="@{/admin/membership/list}">
                        <span class="caret"></span>
                        <span class="sb-menu-icon fa fa-check-square-o"></span>
                        <span class="sidebar-title">MemberShip</span>
                    </a>
                </li>
                      <li>
                    <a th:href="@{/admin/ingredient/list}">
                        <span class="caret"></span>
                        <span class="sb-menu-icon fa fa-leaf"></span>
                        <span class="sidebar-title">Ingredient</span>
                    </a>
                </li>
                          <li>
                    <a th:href="@{/admin/inventory}">
                        <span class="caret"></span>
                        <span class="sb-menu-icon fa fa-building"></span>
                        <span class="sidebar-title">Inventory</span>
                    </a>
                </li>
                
               
                
                
            </ul>
            <!-- /Sidebar Menu  -->

        </div>
        <!-- /Sidebar Left Wrapper  -->

    </aside>
    <!-- /Sidebar -->
    
         <div class="content-left" th:fragment="leftcontent">
                                        <ul class="nav nav-content">
                        <li class="" th:class="${activeSales}">
                            <a th:href="@{/admin/product/list}">
                                <i class="fa fa-folder"></i>
                                <span>Products</span>
                            </a>
                        </li>
           
                        <li th:class="${activeOrders}" class="">
                            <a th:href="@{/admin/order/list}">
                                <i class="fa fa-briefcase"></i>
                                <span>Orders</span>
                            </a>
                        </li>
                        <li th:class="${activeClients}" class="">
                            <a th:href="@{/admin/customer/list}">
                                <i class="fa fa-group"></i>
                                <span>Clients</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
</body>
</html>