<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
			<!-- Topbar Menu Wrapper -->
				<div id="topbar-dropmenu-wrapper" th:fragment="wrapper">
					<div class="topbar-menu row">
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="service-box bg-danger"> <span
								class="fa fa-music"></span> <span class="service-title">Audio</span>
							</a>
						</div>
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="service-box bg-success"> <span
								class="fa fa-picture-o"></span> <span class="service-title">Images</span>
							</a>
						</div>
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="service-box bg-primary"> <span
								class="fa fa-video-camera"></span> <span class="service-title">Videos</span>
							</a>
						</div>
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="service-box bg-alert"> <span
								class="fa fa-envelope"></span> <span class="service-title">Messages</span>
							</a>
						</div>
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="service-box bg-system"> <span
								class="fa fa-cog"></span> <span class="service-title">Settings</span>
							</a>
						</div>
						<div class="col-xs-4 col-sm-2">
							<a href="#" class="service-box bg-dark"> <span
								class="fa fa-user"></span> <span class="service-title">Users</span>
							</a>
						</div>
					</div>
				</div>
				<!-- /Topbar Menu Wrapper -->

				<!-- Topbar -->
				<header id="topbar" class="breadcrumb_style_2" th:fragment="main">
					<div class="topbar-left">
						<ol class="breadcrumb">
							
						</ol>
					</div>
					<div class="topbar-right">
						<div class="ib topbar-dropdown">
							
						</div>
						<div class="ml15 ib va-m" id="sidebar_right_toggle">
							<div class="navbar-btn btn-group btn-group-number mv0">
								

							</div>
						</div>
					</div>
				</header>
				<!-- /Topbar -->
</body>
</html>